<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>멋쟁이사자처럼 숭실대</title>
    <style>
      body {
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      h1 {
        font-size: 120px;
        margin-bottom: 0;
      }
      p {
        font-weight: 800;
        font-size: 18px;
      }
    </style>
  </head>
  <body>
    <h1>🦁</h1>
    <p>안녕하세요,
      <span th:text="${name}">아기사자</span>님!
    </p>
  </body>
</html>
